<%= form_with model: @provider, data: {local: true}, class: '' do |form| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%#= pluralize(@provider.errors.count, "error") %> prohibited this declaracion_jurada from being
          saved:</h2>-->

      <ul>
        <% @provider.errors.full_messages.each do |message| %>
          <div class="bg-purple-100 rounded-lg py-5 px-6 mb-4 text-base text-purple-700 mb-3" role="alert">
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label 'Nombre', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder:"nombre del banco", required: true %>
  <%= form.label 'NIT', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.text_field :nit, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder:"nit ej: 901362343-4", required: true %>
  <%= form.label 'Contacto', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.text_field :contact, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder:"contacto", required: true %>
  <%= form.label 'Teléfono', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.text_field :phone, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder:"Teléfono", required: true %>
  <%= form.label 'Banco', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.select :bank_id, @banks_select, { include_blank: 'Elija el banco' }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
  <%= form.label 'Cuenta', class: "mt-3 form-label inline-block mb-2 text-gray-700 text-sm" %>
  <%= form.text_field :b_account, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder:"Cuenta", required: true %>
  <%= form.button @provider.new_record? ? "Guardar" : "Actualizar", type: 'submit', class: "mt-8 boton-modal-provider w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <%= link_to 'Volver', providers_path, class: 'inline-block w-full mt-3 text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800' %>
<% end %>