<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center">
          <thead class="border-b bg-gray-800">
          <tr>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Nombre
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Contacto
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Teléfono
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Banco
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Cuenta
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Opciones
            </th>
          </tr>
          </thead>
          <tbody>
          <% @providers.each do |provider| %>
            <tr class="bg-white border-b border-gray-300" id="bank_<%= provider.id %>">
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= provider.name.present? ? provider.name : "Sin información en la tabla" %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= provider.contact.present? ? provider.contact : "Sin información en la tabla" %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= provider.phone.present? ? provider.phone : "Sin información en la tabla" %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= Bank.find_by(id: provider.bank_id).name %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= provider.b_account.present? ? provider.b_account : "Sin información en la tabla" %>
              </td>
              <td class="py-4 px-6">
                <%= link_to provider_path(provider), class: 'inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out' do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to edit_provider_path(provider), class: 'inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out' do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to provider, method: :delete, data: {confirm: "vas a eliminar #{provider.name}"}, class: 'inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @providers, outer_window: 3 %>
      </div>
    </div>
  </div>
</div>