<div class="flex justify-center">
  <div class="block rounded-lg shadow-lg bg-white max-w-sm text-center">
    <div class="py-3 px-6 border-b border-gray-300">
      <div>
        <%= link_to edit_provider_path(@provider), class: 'inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out' do %>
          <i class="fas fa-pen"></i>
        <% end %>
        <%= link_to @provider, method: :delete, data: {confirm: "vas a eliminar #{@provider.name}"}, class: 'inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><%= @provider.name %></h5>
      <p class="text-gray-700 text-base mb-4">
        NIT: <%= @provider.nit %> <br>
        Contacto: <%= @provider.contact %> <br>
        Teléfono: <%= @provider.phone %> <br>
        Banco: <%= @bank_name.name %> <br>
        Cuenta: <%= @provider.b_account %>
      </p>
    </div>
    <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
      <%= link_to 'Volver', providers_path, class: 'inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out' %>
    </div>
  </div>
</div>