<section class="mb-20 text-gray-700">
  <div class="grid md:grid-cols-3 gap-6 text-center">
    <div>
      <div class="block rounded-lg shadow-lg bg-white">
        <div class="overflow-hidden rounded-t-lg h-28" style="background-color: #9d789b;"></div>
        <div class="dashboard-count w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
          <%= @banks %>
        </div>
        <div class="p-6">
          <h4 class="text-2xl font-semibold mb-4">Bancos</h4>
          <p class="mt-4">

          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="block rounded-lg shadow-lg bg-white">
        <div class="overflow-hidden rounded-t-lg h-28" style="background-color: #7a81a8;"></div>
        <div class="dashboard-count w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
          <%= @providers %>
        </div>
        <div class="p-6">
          <h4 class="text-2xl font-semibold mb-4">Proveedores</h4>
          <p class="mt-4">

          </p>
        </div>
      </div>
    </div>

  </div>
</section>