<section class="h-screen">
  <div class="px-6 h-full text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image"
          />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <div class="flex flex-row items-center justify-center lg:justify-start mb-8">
          <p class="text-lg mb-0 mr-4">NUEVA CUENTA</p>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% if resource.errors.any? %>
            <div id="error_explanation">
              <!--<h2><%#= pluralize(resource.errors.count, "error") %> prohibited this declaracion_jurada from being
          saved:</h2>-->

              <ul>
                <% resource.errors.full_messages.each do |message| %>
                  <div class="bg-purple-100 rounded-lg py-5 px-6 mb-4 text-base text-purple-700 mb-3" role="alert">
                    <%= message %>
                  </div>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="mb-6">
            <%= f.email_field :email, autofocus: true, placeholder:'Email', autocomplete: "email", class: 'form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
          </div>

          <div class="mb-6">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'contraseña', class:'form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %><br />
          </div>

          <div class="mb-6">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'repetir contraseña', class:'form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
          </div>


          <div class="actions mt-8">
            <%= f.submit "Crear cuenta", class: 'inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out' %>
          </div>
        <% end %>

        <%#= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</section>