// Add the dialog title
$('#modal-bank-title').html('Modificar banco');

// Render the new form
$('.modal-body-bank').html('<%= j render("form") %>');

// Show the dynamic dialog // Set Focus to the first element
$(function(){
   $('#modalBank').on('shown.bs.modal', function(){
      $(this).find('#bank_name').focus();
   });
});

