<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center">
          <thead class="border-b bg-gray-800">
          <tr>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Nombre
            </th>
            <th scope="col" class="text-white text-sm font-medium text-gray-900 px-6 py-2">
              Opciones
            </th>
          </tr>
          </thead>
          <tbody>
          <% @banks.each do |bank| %>
            <tr class="bg-white border-b border-gray-300" id="bank_<%= bank.id %>">
              <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                <%= bank.name %>
              </td>
              <td class="py-4 px-6">
                <%= link_to edit_bank_path(bank), remote: true, data: {'bs-toggle': 'modal', 'bs-target': '#modalBank'}, class: 'inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out' do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to bank, method: :delete, data: {confirm: "vas a eliminar #{bank.name}"}, class: 'inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @banks, outer_window: 3 %>
      </div>
    </div>
  </div>
</div>

