.menu-mobile, .menu-user-mobile {
  .dropdown-menu {
    background-color: #1f2937;
  }
}

.mobile-user-button {
  position: absolute;
  top: 12px;
  right: 80px;
}

.new_button {
  position: absolute;
  top: 24px;
  right: 0;
}

.modal-center {
  justify-content: center;
  align-items: center;
}

.pagination {
  padding: 50px 0;
  text-align: center;
  .page {
    margin: 0 10px;
    display: inline-flex;
  }
  .current {
    background-color: #1f2937;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .prev, .first, .next, .last {
    padding: 0 5px;
  }
}

.dashboard-count {
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}