<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <title>Prueba</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"/>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="h-full">
<main>
  <div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <%= link_to 'Dashboard', root_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{@aria_index}", aria: { current: "page" }, data: { turbolinks: " false" } %>

                <%= link_to 'Bancos', banks_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{@aria_banks}", data: { turbolinks: "false" } %>

                <%= link_to 'Proveedores', providers_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{@aria_providers}", data: { turbolinks: "false" } %>

              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">

              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div class="dropdown">
                  <button type="button" id="dropdownmenu1" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>


                  <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                  <ul aria-labelledby="dropdownmenu1" class="dropdown-menu hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <li>
                      <%= link_to 'Editar perfil', edit_user_registration_path, class: 'dropdown-item block px-4 py-2 text-sm text-gray-700', data: {turbolinks: 'false'} %>
                    <li>
                    <li>
                      <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item block px-4 py-2 text-sm text-gray-700', data: {turbolinks: 'false'} %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden menu-mobile">
            <div class="dropdown">
              <!-- Mobile menu button -->
              <button type="button" id="dropdownmenu2" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!--
                  Heroicon name: outline/bars-3

                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
                <!--
                  Heroicon name: outline/x-mark

                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>

              <ul aria-labelledby="dropdownmenu2" class="dropdown-menu hidden md:hidden space-y-1 px-2 pt-2 pb-3 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <li><%= link_to 'Dashboard', root_path, class: "dropdown-item text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium #{@aria_index}", aria: { current: "page" }, data: { turbolinks: "false" } %></li>

                <li><%= link_to 'Bancos', banks_path, class: "dropdown-item text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium #{@aria_banks}", data: { turbolinks: "false" } %></li>

                <li><%= link_to 'Proveedores', providers_path, class: "dropdown-item text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium #{@aria_providers}", data: { turbolinks: "false" } %></li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden menu-user-mobile">

        <div class="border-t border-gray-700">
          <div class="dropdown">
            <div class="flex items-center px-5">
              <div class="flex-shrink-0">
                <button id="dropdownmenu3" data-bs-toggle="dropdown" aria-expanded="false" data-turbolinks="false" class="dropdown-toggle mobile-user-button">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </button>
                <ul aria-labelledby="dropdownmenu3" class="dropdown-menu hidden md:hidden mt-3 space-y-1 px-2 pt-4 pb-3">

                  <li>
                    <%= link_to 'Editar perfil', edit_user_registration_path, class: 'dropdown-item block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white', data: {turbolinks: 'false'} %>
                  <li>
                  <li>
                    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white', data: {turbolinks: 'false'} %>
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>
    </nav>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 relative">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= @breadcrumb_top %></h1>
        <% unless controller_name == 'dashboard' %>
          <% if controller_name == 'banks' %>
            <%= link_to new_bank_path, remote: true, class: "new_button text-white text-sm bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2", id: 'nuevo-banco-btn', data: { 'bs-toggle': "modal", 'bs-target': "#modalBank" } do %>
              <i class="fas fa-plus"></i> Agregar nuevo
            <% end %>
          <% end %>
          <% if controller_name == 'providers' %>
            <%= link_to new_provider_path, class: "new_button text-white text-sm bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" do %>
              <i class="fas fa-plus"></i> Agregar nuevo
            <% end %>
          <% end %>
        <% end %>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="px-4 py-6 sm:px-0">
          <% unless flash.empty? %>
            <div id="toast-simple" class="mb-3 flex items-center p-4 space-x-4 w-full max-w-xs text-gray-500 bg-white rounded-lg divide-x divide-gray-200 shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
              <div class="pl-4 text-sm font-normal">
                <% flash.each do |type, msg| %>
                  <%= msg %>
                <% end %>
              </div>
            </div>
          <% end %>

          <%= yield %>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>

</main>

<%= render 'banks/modal' if controller_name == 'banks' %>

<!--<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

</body>
</html>
