<!DOCTYPE html>
<html lang="es">

<head>
  <title>Prueba</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"/>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body >

<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
  <!-- Replace with your content -->
  <div class="px-4 py-6 sm:px-0">
    <% unless flash.empty? %>
      <div id="toast-simple" class="flex items-center p-4 space-x-4 w-full max-w-xs text-gray-500 bg-white rounded-lg divide-x divide-gray-200 shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
        <div class="pl-4 text-sm font-normal">
          <% flash.each do |type, msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <!-- /End replace -->
</div>

<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

</body>

</html>